block map
    #map(style="height: 500px;")
    script.
        function initMap() {
            log('initMap()');
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 37.337600, lng: -121.880585},
                zoom: 10
            });
        }

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYyOb3EpgM9TA_Pmp2lkWhECQZ1kbgUAM&callback=initMap', async='', defer='')
