block sensor_list
    .panel.panel-default
        .panel-heading
            h3#panel_title.panel-title
                | My sensors
        .panel-body
            .col-md-12
                ul.nav.nav-tabs
                    li.active
                        a#show_map(data-toggle='tab', href='#map_view') Map view
                    li
                        a#show_list(data-toggle='tab', href='#list_view') List view
                .tab-content
                    #map_view.tab-pane.fade.in.active
                        include map
                        button#show_dialog.btn.btn-info.btn-lg(style="visibility:hidden;" type='button', data-toggle='modal', data-target='#myModal') Open Modal
                            // Modal
                        #myModal.modal.fade(role='dialog')
                            .modal-dialog
                                // Modal content
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal') ×
                                        h4#dialog_title.modal-title Sensor Information
                                    .modal-body
                                        #sensor_info
                                            p#dialog_body Some text in the modal.
                                        #register_sensor
                                            include register_sensor_form
                                        #new_sensor
                                            include new_sensor_form
                                    .modal-footer
                                        button#dialog_opr_btn.btn.btn-primary(type='button', data-dismiss='modal')
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close

                    #list_view.tab-pane.fade
                        table.table
                            thead
                                tr
                                    th id
                                    th lat
                                    th lng
                                    th opr
                            tbody
                                tr( ng-repeat='item in sensors')
                                    td
                                        p {{item._id}}
                                    td
                                        p {{item.lat}}
                                    td
                                        p {{item.lng}}
                                    td
                                        form(method="post", action="/all/delete")
                                            input(type='hidden', name='id', value='{{item.id}}')
                                            input.btn.btn-success(type='submit', value='Delete')

    script.
        $("#switch_view").click(function () {
            alert("Handler for .click() called.");
        });
