block sensor_form
#myModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4#dialog_title.modal-title Sensor Information
            .modal-body
                #sensor_info
                    p#dialog_body Some text in the modal.
                #register_sensor
                    include register_sensor_form
                #new_sensor
                    include new_sensor_form
            .modal-footer
                button#dialog_opr_btn.btn.btn-danger(type='button', data-dismiss='modal' style="float: left;")
                button#dialog_opr_btn2.btn.btn-primary(type='button', data-dismiss='modal')
                button.btn.btn-default(type='button', data-dismiss='modal') Close
