.col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
        li.active
            a(href='/dashboard')
                | Overview
                span.sr-only (current)
        li
            a(href='/report') Reports
        li
            a(href='#') Analytics
        li
            a(href='#') Export
        li
            a(href='#') History
